<html>
  <head>
    <title>Lab 5</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  
  <p><b>
  <br>
  Muhammad Zulkifli Bin Zainul<br>
  </b></p>
  
  <body ng-app="fruit" ng-controller="fruitCtrl">
    <table id="tlist" class="w3-table w3-bordered" style="width: 75%">
      <tr class="w3-blue">
        <th>Name</th>
        <th>Type</th>
        <th>Calories</th>
        <th>Healthy?</th>
      </tr>
	   <tr ng-repeat="item in fruits">
        <td>{{item.name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.calories}}</td>
        <td>{{item.healthy_status()}}</td>
      </tr>
    </table>
    <br>
    <table id="tinput" class="w3-table" style="width: 75%">
      <tr class="w3-grey">
        <th>Name</th>
        <th>Type</th>
        <th>Calories</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <form ng-submit="addFruits()">
          <td><input class="w3-input" ng-model="name"></td>
          <td><input class="w3-input" ng-model="type"></td>
          <td><input class="w3-input" ng-model="calories"></td>
          <td><button class="w3-button w3-green">Add</button></td>
        </form>
      </tr>
    </table>
    <br>
    <button class="w3-button w3-red" id="btncheck">Check List Model</button>
    <br>
    <pre></pre>
  </body>

  <script>
    var  health = function(cal) {
      if (cal < 100) {
        return "Yes";
      } else {
        return "No";
      }
    };

    var fruit = {"name": "Apple", "type":"Mediterranean", "calories": 52, "healthy_status": function() { return health(this.calories) }};
    var fruit2 = {"name": "Durian", "type":"Tropical", "calories": 147, "healthy_status": function() { return health(this.calories) }};
    var fruits = [ fruit,
                   fruit2,
                   {"name": "Orange", "type":"Mediterranean", "calories": 47, "healthy_status": function() { return health(this.calories) }}
                 ];

    // Define angular app & controller ////////////////////////////////////////
    var app = angular.module('fruit', []);

	app.controller('fruitCtrl', function($scope) {
      $scope.fruits = fruits;
      // ???
      // ???
	  
	  $scope.addFruits = function(){
		fruits.push({"name":$scope.name, "type":$scope.type, "calories":$scope.calories, "healthy_status":function() { return health(this.calories) }})
	  }
	  
	});

    // Check if list model content is synchronize with the view ///////////////
    $("#btncheck").click(function() {
      $("pre").empty();

      for (var i = 0; i < fruits.length; i++) {
	    $("pre").append(fruits[i].name + " - ");
	    $("pre").append(fruits[i].type + " - ");
	    $("pre").append(fruits[i].calories + " - ");
	    $("pre").append(fruits[i].healthy_status() + "\n");
	  }
    });


  </script>
</html>